.kanta{
    background-color: rgb(1, 1, 1);
    color: rgb(237, 27, 27);

.yoshida{
    background-color: rgb(134, 194, 255);
  }
.kisei{
    background-color: rgb(137, 223, 163);
    color: rgb(3, 3, 3);
 }
div{
    background-color: rgb(17, 212, 105);
    color: white;
}

